<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>搜索</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale<!---->=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/base.css" />
		<link rel="stylesheet" type="text/css" href="search.css" />

	</head>

	<body>
		<div class="mui-content background-white">
			<div class="search-container mui-clearfix">
				<div class="mui-input-row mui-search wrap-search">
					<input id="search" type="search" class="mui-input-speech mui-input-clear" placeholder="电影/电视剧/影人" v-model="search" @keyup.enter="doSearch()" />
				</div>
				<button type="button" class="mui-btn mui-btn-primary mui-btn-outlined complete-search" @tap="doSearch()">搜索</button>
			</div>

			<div class="record-container mui-clearfix">
				<span class="mui-pull-left">搜索记录</span>
				<span class="mui-pull-right" @tap="emptyHistory()">清除</span>
			</div>

			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view mui-table-view-chevron">
						<li class="mui-table-view-cell" v-for="item in records" @tap="viewRecordDetail(item)">
							<a class="mui-navigate-right">{{item}} </a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<script src="../../js/mui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="search.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>